@import "src/style/colors";
@import "src/style/common";
@import "src/style/breakpoints";

.about {
	@include layoutHack;

	background-color: $blue;
	padding-top: 88px;
}

.recruitment {
	color: white;
	font-family: "Oks Free", sans-serif;
	font-size: 46px;
	line-height: 46px;
}
