@import "src/style/colors";
@import "src/style/breakpoints";
@import "src/style/common";

.wrapper {
  padding-bottom: 14px;

  @include onWidth($mobileLg) {
    padding-bottom: 16px;
  }

  &[data-hasErrors] {
    padding-bottom: unset;

    .input {
      border-color: red;
    }
  }

  &[data-disabled] {
    .input {
      border-color: $gray4;
    }
  }

  .input {
    border-bottom: 1px solid $blue;
    padding: 5px 0;
    width: 100%;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    @include onWidth($mobileLg) {
      padding: 10px 0;
      font-size: 16px;
      line-height: 19px;
    }

    &[contenteditable]:empty {
      text-overflow: ellipsis;
      cursor: text;
      color: $gray4;
    }

    &[contenteditable]:empty:before {
      content: attr(placeholder);
      color: $gray4;
    }
  }

  .errorText {
    color: red;
    font-size: 10px;
    margin-top: 2px;
    height: 12px;

    @include onWidth($mobileLg) {
      font-size: 12px;
      height: 14px;
    }
  }
}
