@import "src/style/breakpoints";
@import "src/style/common";

.content {
  display: flex;
  flex-direction: column;
  width: 225px;

  @include onWidth($mobileLg) {
    width: 390px;
  }

  > *:nth-child(2) {
    margin-bottom: 8px;
  }

  > *:nth-child(3) {
    margin-bottom: 28px;

    @include onWidth($mobileLg) {
      margin-bottom: 22px;
    }

    @include onWidth($desktopLg) {
      margin-bottom: 50px;
    }
  }

  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 8px;

    @include onWidth($mobileLg) {
      font-size: 20px;
      line-height: 23px;
      margin-top: unset;
      margin-bottom: 40px;
    }

    @include onWidth($desktopLg) {
      font-size: 25px;
      margin-left: -40px;
      width: 471px;
      line-height: 29px;
    }
  }

  .personalData {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 25px;

    @include onWidth($mobileLg) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 42px;
    }

    > *:last-child {
      margin-left: 15px;
    }
  }

  > *:last-child {
    @include onWidth($mobileLg) {
      width: 390px;
    }
  }
}
