@import "src/style/colors";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: $blue;
  padding: 17px;
  border-radius: 7px;
  color: white;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  width: 225px;
  height: 52px;
  cursor: pointer;

  &[data-color="white"] {
    background-color: white;
    color: $blue;
  }

  &[data-disabled] {
    background-color: $gray4;
  }
}
