@import "src/style/colors";
@import "src/style/breakpoints";
@import "src/style/common";

.tn {
  @include layoutHack;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blue;
  color: white;
  font-weight: 500;
  padding-bottom: 50px;

  > *:first-child {
    font-size: 15px;
    line-height: 18px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  @include onWidth($mobileLg) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    height: 100px;

    > *:first-child {
      margin: 0;
      margin-right: 5px;
    }
  }
}
