@import "src/style/common";
@import "src/style/colors";
@import "src/style/breakpoints";

.prices {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: white;
  background-color: $blue;


  @include layoutHack;

  > *:first-child {
    color: $blue2;
    font-size: 18px;
    line-height: 21px;
    margin-top: 50px;
    margin-bottom: 15px;

    @include onWidth($desktopS) {
      margin-top: 100px;
      margin-bottom: 20px;
    }

    @include onWidth($desktopLg) {
      font-size: 20px;
      line-height: 23px;
      margin-top: 130px;
    }
  }

  > *:nth-child(2) {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 40px;

    @include onWidth($desktopS) {
      margin-bottom: 50px;
    }

    @include onWidth($desktopLg) {
      font-size: 30px;
      line-height: 35px;
    }
  }

  .cards {
    @include onWidth($desktopS) {
      display: flex;
      flex-wrap: wrap;
    }

    .card {
      display: flex;
      align-items: center;
      background-color: $blue;
      border: 1px solid $blue3;
      border-radius: 7px;
      padding: 50px 30px;
      margin-bottom: 30px;
      justify-content: flex-start;

      &:last-child {
        margin-bottom: 50px;
      }
      @include onWidth($mobileLg) {
        justify-content: flex-start;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        padding-left: 105px;
        padding-right: 215px;
        &:last-child {
          padding-right: 260px;
        }
      }


      @include onWidth($desktopS) {
        width: 500px;
        height: 234px;
        justify-content: center;
        padding: 85px 105px;

        &:nth-child(odd) {
          margin-right: 30px;
        }

        &:last-child {
          margin-bottom: 100px;
        }
      }

      @include onWidth($desktopMd) {
        width: 590px;
        &:nth-child(1) {
          padding: 82px 105px 83px 105px;
        }
        &:nth-child(4) {
          padding: 82px 210px 83px 105px;
        }

      }

      @include onWidth($desktopLg) {
        font-size: 20px;
        line-height: 23px;
        padding: 94px 127px;
        width: 800px;
        &:nth-child(1) {
          padding: 82px 105px 83px 105px;
        }
        &:nth-child(2) {
          padding: 94px 100px 94px 181px;
        }
        &:nth-child(3) {
          padding: 94px 300px 94px 105px;
        }
        &:nth-child(4) {
          padding: 82px 280px 83px 181px;
        }
        &:last-child {
          margin-bottom: 130px;
        }
      }
    }
  }

  .rates {
    @include onWidth($desktopS) {
      display: flex;
      z-index: 10;
    }

    .rate {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-weight: 500;
      padding: 30px 35px;
      border: 1px solid $blue3;
      border-radius: 7px;
      margin-bottom: 30px;
      background: #0816B7;

      @include onWidth($desktopS) {
        margin-bottom: 280px;
      }

      &:last-child {
        margin-bottom: 50px;
      }

      > *:first-child {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 50px;
        align-self: center;

        @include onWidth($desktopS) {
          font-size: 20px;
          line-height: 23px;
        }

        @include onWidth($desktopLg) {
          font-size: 25px;
          line-height: 29px;
        }
      }

      .listItem {
        display: flex;
        font-size: 18px;
        line-height: 25px;

        > img {
          margin-right: 15px;
          margin-top: 8px;
        }

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        @include onWidth($desktopS) {
          font-size: 16px;
          line-height: 22px;
          align-items: flex-start;

          &:last-of-type {
            margin-bottom: 50px;
          }
        }

        @include onWidth($desktopLg) {
          font-size: 18px;
          line-height: 25px;
        }
      }

      .rateIcon {
        width: 14px;
        height: 10px;
        @include onWidth($mobileLg) {
          width: 21px;
          height: 15px;
        }
      }

      .rateButton {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;

        width: 225px;
        height: 88px;
        padding: 25px 42px;
        border: 1px solid $blue3;
        border-radius: 7px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: white;

        > img {
          margin-left: -11px;

          @include onWidth($mobileLg) {
            margin-left: unset;
            margin-right: 10px;
          }
          @include onWidth($desktopLg) {
            margin-left: 0;
            margin-right: 11px;
          }
        }

        @include onWidth($mobileLg) {
          width: 465px;
          height: 100px;
        }

        @include onWidth($desktopS) {
          width: 225px;
          margin: auto;
        }

        @include onWidth($desktopMd) {
          width: 330px;
          padding: 0 70px 0 80px;
        }

        @include onWidth($desktopLg) {
          font-size: 20px;
          line-height: 23px;
          padding: 0;
          width: 465px;
          height: 100px;
        }
      }

      &[data-border-color="pink"] {
        border-color: $pink;
      }

      &[data-border-color="green"] {
        border-color: $green;
      }

      @include onWidth($desktopS) {
        align-items: flex-start;
        width: 390px;
        height: max-content;
        padding: 60px 30px 30px 30px;
        margin-right: 30px;

        &:last-child {
          margin-right: unset;
          margin-bottom: 170px;
        }
      }

      @include onWidth($desktopLg) {
        width: 525px;
        margin-right: 37px;

        &:last-child {
          margin-right: unset;
        }
      }
    }
  }

  > *:nth-child(4) {
    color: $blue2;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;

    @include onWidth($desktopS) {
      margin-bottom: 20px;
    }

    @include onWidth($desktopLg) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  > *:nth-child(5) {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 30px;

    @include onWidth($desktopS) {
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 50px;
    }

    @include onWidth($desktopLg) {
      font-size: 30px;
      line-height: 35px;
    }
  }
}

.interviewCard {
  background-image: url("./interview-mobile-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  @include onWidth($mobileLg) {
    background-image: url("./interview-tablet-bg.png");
  }

  @include onWidth($desktopS) {
    background-image: url("./interview-desktop-s-bg.png");
  }

  @include onWidth($desktopLg) {
    background-image: url("./interview-desktop-lg-bg.png");
  }
}

.consultingCard {
  background-image: url("./consulting-mobile-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @include onWidth($mobileLg) {
    background-image: url("./consulting-tablet-bg.png");
  }

  @include onWidth($desktopS) {
    background-image: url("./consulting-desktop-s-bg.png");
  }

  @include onWidth($desktopLg) {
    background-image: url("./consulting-desktop-lg-bg.png");
  }
}

.supportCard {
  background-image: url("./support-mobile-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @include onWidth($mobileLg) {
    background-image: url("./support-tablet-bg.png");
  }

  @include onWidth($desktopS) {
    background-image: url("./support-desktop-s-bg.png");
  }

  @include onWidth($desktopLg) {
    background-image: url("./support-desktop-lg-bg.png");
  }
}

.offerCard {
  background-image: url("./offer-mobile-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @include onWidth($mobileLg) {
    background-image: url("./offer-tablet-bg.png");
  }

  @include onWidth($desktopS) {
    background-image: url("./offer-desktop-s-bg.png");
  }

  @include onWidth($desktopLg) {
    background-image: url("./offer-desktop-lg-bg.png");
  }
}

.basedButton {
  background-image: url("./based-btn-mobile-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  &:hover, &:active {
    background-color: #525EDE;
    background-image: unset;
  }

  @include onWidth($mobileLg) {
    background-image: url("./based-btn-tablet-bg.png");
    background-position: center;
  }

  @include onWidth($desktopS) {
    background-image: url("./based-btn-desktop-s-bg.png");
  }

  @include onWidth($desktopLg) {
    background-image: url("./based-btn-desktop-lg-bg.png");
  }
}

.advancedButton {
  background-image: url("./advanced-btn-mobile-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:hover, &:active {
    background-color: #058D9E;
    background-image: unset;
  }

  @include onWidth($mobileLg) {
    background-image: url("./advanced-btn-tablet-bg.png");
  }

  @include onWidth($desktopS) {
    background-image: url("./advanced-btn-desktop-s-bg.png");
    background-position: right;
  }

  @include onWidth($desktopLg) {
    background-image: url("./advanced-btn-desktop-lg-bg.png");
    background-position: center;
  }
}

.eliteButton {
  background-image: url("./elite-btn-mobile-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  &:hover, &:active {
    background-color: #734CD4;
    background-image: unset;
  }

  @include onWidth($mobileLg) {
    background-image: url("./elite-btn-tablet-bg.png");
    background-position: center;
  }

  @include onWidth($desktopS) {
    background-image: url("./elite-btn-desktop-s-bg.png");
    background-position: left;
  }

  @include onWidth($desktopLg) {
    background-image: url("./elite-btn-desktop-lg-bg.png");
    background-position: center;
  }
}

.bg {
  display: none;

  @include onWidth($desktopS) {
    display: flex;
    position: absolute;
    left: -383px;
    margin-top: 570px;
    z-index: -5;
  }

  @include onWidth($desktopLg) {
    left: -83px;
  }
}