@import "src/style/common";
@import "src/style/colors";
@import "src/style/breakpoints";

.maps {
  display: none;

  @include onWidth($desktopS) {
    display: block;
  }

  .mapsRoot {
    height: 450px;
    width: 100%;

    .fallback {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
    }

    @include onWidth($desktopLg) {
      height: 600px;
    }
  }
}
