@import "src/style/common";
@import "src/style/breakpoints";

.layout {
  padding-left: 19px;
  padding-right: 17px;
  margin: auto;

  @include onWidth($mobileSm) {
    padding-left: 28px;
    padding-right: 30px;
  }

  @include onWidth($mobileMd) {
    padding-left: 32px;
    padding-right: 34px;
  }

  @include onWidth($desktopS) {
    padding-left: 71px;
    padding-right: 68px;
    max-width: $desktopS;
  }

  @include onWidth($desktopMd) {
    max-width: $desktopMd;
  }

  @include onWidth($desktopLg) {
    padding-left: 138px;
    padding-right: 135px;
    max-width: $desktopLg;
  }
}
