@import "src/style/colors";
@import "src/style/breakpoints";
@import "src/style/common";

.employees {
  display: flex;
  flex-direction: column;

  font-weight: 500;

  > *:first-child {
    font-size: 18px;
    line-height: 21px;
    color: $gray4;
    margin-bottom: 15px;

    @include onWidth($desktopS) {
      margin-bottom: 20px;
    }

    @include onWidth($desktopLg) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  > *:nth-child(2) {
    font-size: 20px;
    line-height: 23px;
    color: black;
    margin-bottom: 40px;

    @include onWidth($desktopS) {
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 70px;
    }

    @include onWidth($desktopLg) {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 100px;
    }
  }
}

.dropdown {
  margin-bottom: 30px;

  @include onWidth($desktopS) {
    display: none;
  }

  &:last-child {
    margin-bottom: 60px;
  }

  .heading {
    display: flex;
    cursor: pointer;
    position: relative;

    .title {
      color: $gray4;
      font-size: 25px;
      line-height: 25px;
      margin-left: 10px;
    }
  }

  .list {
    display: none;
    margin-top: 15px;
    background-color: $blue;
    border-radius: 20px;
    padding: 30px;

    .item {
      display: flex;
      flex-direction: column;

      .itemTitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: $blue2;
        margin-bottom: 10px;
      }

      .itemContent {
        font-size: 16px;
        line-height: 22px;
        color: white;
      }

      &:not(:last-child) {
        .itemContent {
          margin-bottom: 30px;
        }
      }
    }
  }

  &[data-opened="true"] {
    .title {
      color: $blue;
    }

    .list {
      display: block;
    }
  }
}

.employeePopup {
  display: none;

  @include onWidth($desktopS) {
    display: block;
  }

  &:last-child {
    margin-bottom: 130px;
  }

  .heading {
    display: flex;
    font-weight: 400;
    margin-bottom: 50px;
    position: relative;

    @include onWidth($desktopLg) {
      margin-bottom: 90px;
    }

    .title {
      cursor: pointer;
      color: $gray4;
      font-size: 50px;
      line-height: 25px;

      @include onWidth($desktopLg) {
        font-size: 70px;
        line-height: 25px;
      }
    }

    .list {
      display: none;
      background-color: $blue;
      border-radius: 20px;
      padding: 30px;
      max-width: 840px;

      box-shadow: 0 0 7px 0 white;

      .invisible {
        position: absolute;
        left: -100px;
        top: 35px;
        width: 100px;
        height: 80px;

        @include onWidth($desktopLg) {
          left: -200px;
          width: 200px;
        }
      }

      .corner {
        position: absolute;
        left: -28px;
        top: 30px;
      }

      .item {
        display: flex;
        flex-direction: column;

        .itemTitle {
          font-weight: 500;
          font-size: 18px;
          line-height: 25px;
          color: $blue2;
          margin-bottom: 10px;
        }

        .itemContent {
          font-size: 16px;
          line-height: 22px;
          color: white;
        }

        &:not(:last-child) {
          .itemContent {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
