@import "src/style/colors";
@import "src/style/common";

.nav {
  @include layoutHack;

  display: none;
  background-color: $blue;

  @include onWidth($desktopS) {
    display: block;
  }

  > nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-top: 1px solid $blue3;
    border-bottom: 1px solid $blue3;
    padding: 20px 30px;

    @include onWidth($desktopLg) {
      padding: 30px 30px;
    }

    > a {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      cursor: pointer;

      @include onWidth($desktopLg) {
        font-size: 20px;
        line-height: 23px;
      }
    }

    > *:not(:last-child) {
      margin-right: 45px;

      @include onWidth($desktopMd) {
        margin-right: 55px;
      }

      @include onWidth($desktopLg) {
        margin-right: 76px;
      }
    }
  }
}
