@import "src/style/common";
@import "src/style/colors";
@import "src/style/breakpoints";

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: $gray3;

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 25px;
    background-color: white;
    width: 285px;
    position: relative;

    .closeIcon {
      position: absolute;
      right: 25px;
      top: 25px;
      cursor: pointer;
    }

    @include onWidth($mobileLg) {
      padding: 50px 40px;
      width: 600px;
    }

    @include onWidth($desktopLg) {
      padding: 70px 60px;
      width: 810px;
    }
  }
}
