@import "src/style/colors";
@import "src/style/common";
@import "src/style/breakpoints";

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 18px 17px 18px 19px;
	background-color: $blue;
	z-index: 50;

	@include onWidth($desktopS) {
		@include layoutHack;

		position: unset;
		left: unset;
		top: unset;
		width: unset;

		padding-top: 35px;
		padding-bottom: 40px;
	}

	.headerContacts {
		display: none;

		@include onWidth($desktopS) {
			display: flex;
		}

		.tel {
			display: flex;
			flex-direction: column;
			font-weight: 500;
			color: white;
			margin-right: 80px;

			> span {
				font-size: 20px;
				line-height: 23px;
				margin-bottom: 10px;
			}

			> a {
				font-size: 15px;
				line-height: 18px;
				color: $orange;
				text-decoration: underline;
				cursor: pointer;
				display: flex;
				justify-content: flex-end;
			}
		}

		.address {
			display: flex;
			flex-direction: column;
			color: white;

			> address:first-child {
				font-size: 20px;
				line-height: 23px;
				margin-bottom: 10px;
			}

			> address:last-child {
				font-size: 15px;
				line-height: 18px;
			}
		}
	}

	.logo {
		width: 146px;
		height: 40px;

		@include onWidth($desktopLg) {
			width: 164px;
			height: 45px;
		}
	}

	.menuIcon {
		width: 22px;
	}

	.mobileNavButton {
		@include onWidth($desktopS) {
			display: none;
		}
	}

	.mobileNav {
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		z-index: 50;
		left: 0;
		top: 76px;
		background-color: $blue;
		width: 100vw;
		max-height: 700px;
		height: calc(100vh - 76px);
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: white;

		@include onWidth($mobileLg) {
			font-size: 20px;
			line-height: 23px;
		}

		&[data-opened="true"] {
			display: flex;
		}

		@include onWidth($desktopS) {
			display: none !important;
		}

		.links {
			display: flex;
			flex-direction: column;
			align-items: center;

			@include onWidth($mobileSm) {
				margin-top: 30px;
			}

			@include onWidth($mobileMd) {
				margin-top: 40px;
			}

			@include onWidth($mobileLg) {
				margin-bottom: 20px;
			}

			> a {
				margin-bottom: 23px;
				@include onWidth($mobileLg) {
					margin-bottom: 30px;
				}

				&:last-child {
					margin-bottom: 50px;
				}
			}
		}

		.tel {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 20px;
			line-height: 23px;
			@include onWidth($mobileLg) {
				margin-bottom: 30px;
			}

			> *:first-child {
				font-size: 20px;
				line-height: 23px;
				margin-bottom: 10px;
			}

			> a {
				font-size: 15px;
				line-height: 18px;
				color: $orange;
				text-decoration: underline;
			}
		}

		> address {
			font-style: normal;
			font-size: 16px;
			line-height: 19px;
			margin: 0 40px 25%;
			display: flex;
			align-items: center;
			margin-bottom: 25%;

			@include onWidth($mobileLg) {
				font-size: 20px;
				line-height: 23px;
				margin-bottom: 18%;
			}
			text-align: center;
		}
	}
}
