$mobileSm: 375px;
$mobileMd: 425px;
$mobileLg: 768px;
$desktopS: 1200px;
$desktopMd: 1366px;
$desktopLg: 1920px;

@mixin onWidth($minWidth) {
  @media screen and (min-width: $minWidth) {
    @content
  }
}
