$blue: #0816B7;
$blue2: #A4ABFF;
$blue3: #525EDE;
$red: #FE7300;
$gray4: #BDBDBD;
$gray5: #EEEEEE;
$gray3: rgba(189, 189, 189, 0.7);
$pink: #E282F1;
$green: #02EB89;
$orange: #FE7300;
$black: #212121;
