@import "src/style/breakpoints";

@mixin layoutHack() {
  padding-left: 19px;
  padding-right: 17px;
  margin-left: -19px;
  margin-right: -17px;

  @include onWidth($mobileSm) {
    padding-left: 28px;
    padding-right: 30px;
    margin-left: -28px;
    margin-right: -30px;
  }

  @include onWidth($mobileMd) {
    padding-left: 32px;
    padding-right: 34px;
    margin-left: -32px;
    margin-right: -34px;
  }

  @include onWidth($desktopS) {
    padding-left: 71px;
    padding-right: 68px;
    margin-left: -71px;
    margin-right: -68px;
  }

  @include onWidth($desktopLg) {
    padding-left: 138px;
    padding-right: 135px;
    margin-left: -138px;
    margin-right: -135px;
  }
}
