body {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, p {
	margin: 0;
}

button {
	outline: none;
	border: none;
	background: none;
}

address {
	font-style: normal;
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src:
			local(''),
			url('../assets/fonts/raleway/raleway-v22-latin_cyrillic-regular.woff2') format('woff2'),
			url('../assets/fonts/raleway/raleway-v22-latin_cyrillic-regular.woff') format('woff'),
			url('../assets/fonts/raleway/raleway-v22-latin_cyrillic-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-display: fallback;
	src:
			local(''),
			url('../assets/fonts/raleway/raleway-v22-latin_cyrillic-500.woff2') format('woff2'),
			url('../assets/fonts/raleway/raleway-v22-latin_cyrillic-500.woff') format('woff'),
			url('../assets/fonts/raleway/raleway-v22-latin_cyrillic-500.ttf') format('truetype');
}

@font-face {
	font-family: 'Oks Free';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src:
			local(''),
			url('../assets/fonts/oks-free/oks-free-regular.woff2') format('woff2'),
			url('../assets/fonts/oks-free/oks-free-regular.woff') format('woff'),
			url('../assets/fonts/oks-free/oks-free-regular.ttf') format('truetype');
}
