@import "src/style/colors";
@import "src/style/common";
@import "src/style/breakpoints";

.advantages {
  position: relative;

  > .bg {
    position: absolute;
    top: -50px;
    right: -17px;
    z-index: 0;

    @include onWidth($mobileSm) {
      right: -30px;
    }

    @include onWidth($mobileMd) {
      right: -34px;
    }

    @include onWidth($desktopS) {
      right: -68px;
    }

    @include onWidth($desktopLg) {
      right: -135px;
    }
  }

  > .wrapper {
    display: flex;
    flex-direction: column;
    font-weight: 500;

    position: relative;
    z-index: 1;

    > *:first-child {
      color: $gray4;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 15px;

      @include onWidth($desktopS) {
        margin-bottom: 20px;
      }

      @include onWidth($desktopLg) {
        font-size: 20px;
        line-height: 23px;
      }
    }

    > *:nth-child(2) {
      color: black;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 40px;

      @include onWidth($desktopS) {
        font-size: 25px;
        line-height: 29px;
        max-width: 533px;
        margin-bottom: 60px;
      }

      @include onWidth($desktopLg) {
        font-size: 30px;
        line-height: 35px;
        max-width: 640px;
        margin-bottom: 80px;
      }
    }

    .text {
      display: flex;
      flex-direction: column;

      @include onWidth($desktopS) {
        flex-direction: row;
      }

      .content {
        display: flex;
        flex-direction: column;

        @include onWidth($mobileLg) {
          max-width: 470px;
        }
        @include onWidth($desktopS) {
          max-width: 390px;


          &:not(:last-child) {
            margin-right: 30px;
          }
        }

        @include onWidth($desktopLg) {
          max-width: 495px;
        }

        > *:nth-child(1) {
          color: black;
          font-size: 16px;
          line-height: 19px;
          margin-bottom: 15px;

          @include onWidth($desktopS) {
            font-size: 20px;
            line-height: 23px;
          }

          @include onWidth($desktopLg) {
            font-size: 25px;
            line-height: 29px;
          }
        }

        > *:nth-child(2) {
          color: $blue3;
          font-size: 16px;
          line-height: 22px;
          font-weight: 400;
          margin-bottom: 40px;

          @include onWidth($desktopS) {
            font-size: 16px;
            line-height: 24px;
          }

          @include onWidth($desktopLg) {
            font-size: 18px;
            line-height: 25px;
          }
        }

        &:last-child {
          > *:nth-child(2) {
            margin-bottom: 53px;

            @include onWidth($desktopS) {
              margin-bottom: 100px;
            }
          }
        }
      }
    }
  }
}
