@import "src/style/common";
@import "src/style/breakpoints";

.applyWrapper {
  @include onWidth($desktopS) {
    position: relative;
  }

  .apply {
    margin-bottom: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include layoutHack;

    @include onWidth($mobileSm) {
      > svg {
        transform: scale(1.1);
      }
    }

    @include onWidth($mobileMd) {
      > svg {
        transform: scale(1.2);
      }
    }

    @include onWidth($mobileLg) {
      margin-top: 60px;
    }

    @include onWidth($desktopS) {
      position: absolute;
      right: 0;
      bottom: 70px;
    }

    .button {
      cursor: pointer;
    }
  }
}
