@import "src/style/colors";
@import "src/style/common";
@import "src/style/breakpoints";

.about {
  @include layoutHack;

  background-color: $blue;
  padding-top: 88px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;

  @include onWidth($mobileLg) {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  @include onWidth($desktopS) {
    padding-top: 180px;
    padding-bottom: 60px;
  }

  > .content {
    position: relative;
    z-index: 1;
  }

  > .bg {
    position: absolute;
    right: 0;
    bottom: -3px;
    z-index: -20;
  }
}

.heading {
  color: white;
  font-family: "Oks Free", sans-serif;
  font-size: 46px;
  line-height: 46px;

  margin-bottom: 15px;

  @include onWidth($desktopS) {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 30px;
  }

  @include onWidth($desktopLg) {
    font-size: 110px;
    line-height: 110px;
    margin-bottom: 50px;
  }
}

.description {
  font-size: 16px;
  line-height: 22px;
  width: 285px;

  @include onWidth($mobileLg) {
    width: 595px;
    font-size: 20px;
    line-height: 30px;
  }

  @include onWidth($desktopS) {
    font-size: 20px;
    line-height: 30px;
    max-width: 457px;
    margin-bottom: 87px;
  }

  @include onWidth($desktopLg) {
    font-size: 25px;
    line-height: 35px;
    max-width: 571px;
    margin-bottom: 180px;
  }

  span {
    &:first-child {
      color: $red;
    }

    &:last-child {
      color: white;
    }
  }
}

.man {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;

  img {
    width: 280px;
    margin-top: -60px;
    margin-bottom: -80px;
  }

  @include onWidth($mobileLg) {
    justify-content: flex-end;

    img {
      width: 526px;
      margin-top: -100px;
      margin-bottom: -120px;
    }
  }

  @include onWidth($desktopS) {
    display: none;
  }
}

.manDesktop {
  display: none;

  @include onWidth($desktopS) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 118px;
    top: 80px;
  }

  img {
    width: 576px;
    margin-top: 10px;

    @include onWidth($desktopLg) {
      width: 800px;
    }
  }
}

.companies {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: $blue2;
  width: 280px;

  @include onWidth($mobileLg) {
    width: 455px;
    font-size: 18px;
    line-height: 21px;
  }

  @include onWidth($desktopS) {
    font-size: 18px;
    line-height: 21px;
    color: $blue3;
    max-width: 454px;
  }

  @include onWidth($desktopLg) {
    font-size: 20px;
    line-height: 23px;
    max-width: 504px;
  }
}
