@import "src/style/common";
@import "src/style/breakpoints";

.applyWrapper {
  display: none;

  @include onWidth($mobileLg) {
    display: flex;
    position: relative;

  }
  @include onWidth($desktopLg) {
    top: 50px;
    margin-left: 168px;
  }

  .apply {
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onWidth($desktopS) {
      position: absolute;
      right: 0;
      top: 100px;
    }
    @include onWidth($desktopLg) {
      position: absolute;
      right: 0;
      top: -100px;
    }

    .button {
      cursor: pointer;
    }
  }
}
