@import "src/style/breakpoints";
@import "src/style/common";
@import "src/style/colors";

.content {
  display: flex;
  flex-direction: column;
  width: 225px;

  @include onWidth($mobileLg) {
    width: 390px;

    > *:last-child {
      width: 390px;
    }
  }

  > *:not(:last-child) {
    //margin-bottom: 8px;

    @include onWidth($mobileLg) {
      margin-bottom: 2px;
    }

    @include onWidth($desktopLg) {
      margin-bottom: 21px;
    }
  }

  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 8px;

    @include onWidth($mobileLg) {
      margin-top: unset;
      font-size: 20px;
      line-height: 23px;
    }

    @include onWidth($desktopLg) {
      font-size: 25px;
      line-height: 29px;
    }
  }

  .label {
    display: none;


    @include onWidth($mobileLg) {
      display: unset;
      font-size: 16px;
      line-height: 19px;
      color: $gray4;
      text-align: center;
      margin-bottom: 20px;
    }

    @include onWidth($desktopLg) {
      margin-bottom: 30px;
    }
  }

  .personalData {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px;

    @include onWidth($mobileLg) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 32px;
    }

    @include onWidth($desktopLg) {
      margin-top: 20px;
      margin-bottom: 50px;
    }

    > *:last-child {
      margin-left: 15px;
    }
  }
}
