@import "src/style/common";
@import "src/style/colors";
@import "src/style/breakpoints";

.footer {
  @include layoutHack;
  display: flex;
  flex-direction: column;
  background-color: $black;
  color: white;
  font-weight: 500;

  @include onWidth($desktopS) {
    flex-direction: row;
    justify-content: space-between;

    padding: 100px 68px 80px 68px;
  }

  @include onWidth($desktopLg) {
    padding: 100px 163px 80px 135px;
  }

  .logo {
    display: flex;
    flex-direction: column;

    @include onWidth($desktopS) {
      max-width: 300px;
    }

    > *:first-child {
      margin-top: 50px;
      margin-bottom: 50px;
      align-self: center;

      @include onWidth($mobileLg) {
        align-self: flex-start;
        margin-bottom: 40px;
      }

      @include onWidth($desktopS) {
        align-self: unset;
        width: 165px;
        margin-top: 0;
        margin-bottom: 20px;
      }
    }

    .info {

      display: flex;
      flex-direction: column;

      @include onWidth($mobileLg) {
        flex-direction: row;
      }
      @include onWidth($desktopS) {
        flex-wrap: wrap;
      }

      > *:nth-child(1) {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 40px;

        @include onWidth($mobileLg) {
          width: 300px;
        }

        @include onWidth($desktopS) {
          margin-bottom: 20px;
          width: 305px;
        }

      }

      > *:nth-child(2) {
        font-size: 15px;
        line-height: 18px;
        color: white;
        margin-bottom: 60px;
        width: 210px;

        @include onWidth($mobileLg) {
          width: 157px;
          margin-left: 120px;
        }

        @include onWidth($desktopS) {
          margin-bottom: 0;
          margin-left: 0;
        }
      }
    }
  }

  .nav {
    display: none;
    flex-wrap: wrap;
    max-width: 500px;

    > a {
      width: 118px;
      margin-right: 70px;
      cursor: pointer;

      &:nth-child(3n) {
        margin-right: 0;
      }

      @include onWidth($desktopLg) {
        font-size: 18px;
        line-height: 21px;
      }
    }

    @include onWidth($desktopS) {
      display: flex;
    }
  }

  .addressInfo {
    display: flex;
    flex-direction: column;

    @include onWidth($mobileLg) {
      flex-direction: row;
    }

    @include onWidth($desktopS) {
      max-width: 210px;
      flex-direction: column;
    }

    .address {

      > *:nth-child(1) {
        font-size: 20px;
        line-height: 23px;
        font-style: normal;
        margin-bottom: 10px;

      }

      > *:nth-child(2) {
        font-size: 15px;
        line-height: 18px;
        font-style: normal;
        margin-bottom: 30px;
        @include onWidth($mobileLg) {
          width: 210px;
        }


      }
    }

    .contacts {
      display: flex;
      flex-direction: column;

      @include onWidth($mobileLg) {
        margin-left: 205px;
      }

      @include onWidth($desktopS) {
        margin-left: 0;
        margin-bottom: 0;
      }

      > *:nth-child(1) {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
      }

      > *:nth-child(2) {
        font-size: 15px;
        line-height: 18px;
        color: $orange;
        margin-bottom: 80px;
        cursor: pointer;
        text-decoration: underline;

      }
    }
  }
}
