<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="description" content="Рекрутинговое агенство Kate Spark специализируется в подборе ИТ-специалистов для российских компаний в сферах финансов, страхования, ритейла и логистики.">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<meta name="theme-color"
			  content="#0816B7"
			  media="(prefers-color-scheme: light)">
		<meta name="theme-color"
			  content="#0816B7"
			  media="(prefers-color-scheme: dark)">
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
