@import "src/style/colors";
@import "src/style/common";
@import "src/style/breakpoints";

.companies {
  display: flex;
  flex-direction: column;

  color: black;
  font-weight: 500;
  margin-top: 50px;

  @include onWidth($desktopS) {
    margin-top: 100px;
  }

  @include onWidth($desktopLg) {
    margin-top: 130px;
  }

  > *:first-child {
    font-size: 18px;
    line-height: 21px;
    color: $gray4;
    margin-bottom: 15px;

    @include onWidth($desktopS) {
      margin-bottom: 20px;
    }

    @include onWidth($desktopLg) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  > *:nth-child(2) {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 23px;

    @include onWidth($mobileLg) {
      font-size: 25px;
      line-height: 29px;
    }
    @include onWidth($desktopS) {
      margin-bottom: 50px;
    }

    @include onWidth($desktopLg) {
      font-size: 30px;
      line-height: 35px;
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  @include onWidth($mobileLg) {
    flex-direction: row;

    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: center;
    > *:nth-child(odd) {
      margin-right: 10px;
    }
    > *:nth-child(even) {
      margin-left: 10px;
    }
  }
  @include onWidth(1022px) {

    > *:nth-child(odd) {
      margin-right: 0;
    }
    > *:nth-child(even) {
      margin-left: 0;
    }
  }

  @include onWidth($desktopS) {
    margin-bottom: 130px;

  }
  @include onWidth($desktopMd) {
    justify-content: space-between;
  }
  @include onWidth($desktopLg) {
    min-width: 1650px;
  }


  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 120px;
    margin-bottom: 10px;

    > img {
      display: block;
      width: inherit;
    }


    @include onWidth($mobileSm) {
      width: 313.5px;
      height: 132px;
    }

    @include onWidth($mobileMd) {
      width: 356.25px;
      height: 150px;
    }
    @include onWidth($mobileLg) {
      width: 337px;
      height: 143px;
      margin-bottom: 25px;
    }
    @include onWidth(1022px) {
      margin-right: 30px;
    }

    @include onWidth($desktopS) {
      width: 285px;
      margin-bottom: 5px;
      margin-right: 20px;
    }

    @include onWidth($desktopLg) {
      width: 390px;
      margin-bottom: 50px;
    }
  }
}
