@import "src/style/colors";
@import "src/style/common";
@import "src/style/breakpoints";

.contacts {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  @include onWidth($desktopS) {
    height: 470px;
  }
  @include onWidth($desktopLg) {
    height: 320px;
  }

  > *:first-child {
    font-size: 18px;
    line-height: 21px;
    color: $gray4;
    margin-bottom: 15px;

    @include onWidth($desktopS) {
      margin-bottom: 20px;

    }

    @include onWidth($desktopLg) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  > *:nth-child(2) {
    margin-bottom: 30px;

    @include onWidth($desktopS) {
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 50px;
    }

    @include onWidth($desktopLg) {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 90px;
    }
  }

  .links {
    display: flex;
    flex-direction: column;

    @include onWidth($desktopS) {
      flex-direction: row;
      justify-content: space-between;
    }

    .contactApply {
      @include onWidth($mobileLg) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        > a {
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
        }
      }
    }

    .contact {
      display: flex;
      align-items: flex-start;
      margin-bottom: 50px;

      @include onWidth($desktopS) {
        max-width: 360px;
        margin-right: 100px;
      }

      @include onWidth($desktopLg) {
        margin-bottom: 70px;
        margin-right: 199px;
      }

      .address {
        font-style: normal;
        @include onWidth($mobileLg) {
          width: 358px;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        margin-left: 14px;

        > span:first-child {
          color: $gray4;
          font-weight: 400;
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 19px;

          @include onWidth($desktopS) {
            font-size: 15px;
            line-height: 18px;
          }
        }

        > *:nth-child(2) {
          @include onWidth($desktopLg) {
            font-size: 18px;
            line-height: 21px;
          }
        }

        > a {
          color: $orange;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          margin-top: 10px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

.externalLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $blue3;
  border-radius: 7px;
  width: 285px;
  height: 88px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 100px;
  }

  @include onWidth($mobileLg) {
    width: 337px;
    height: 88px;
  }

  @include onWidth($desktopS) {
    display: none;
  }
}

.externalLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include onWidth($mobileLg) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
